<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer Statement Processor</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body class="article">

	<div id="header">
    	<h1>Customer Statement Processor</h1>
	</div>

	<div id="content">

		<div id="preamble">
			<div class="sectionbody">
				<div class="paragraph">
					<p>This is an overview of the records you uploaded previously.</p>
					<p>You can upload new records at the <a href="/">upload page</a> or <a href="/clearhistory">clear the history</a></p>
				</div>
			</div>
		</div>

		<div class="sect1">
			<div class="sectionbody">
				<div class="paragraph">
					<div th:if="${#lists.isEmpty(records)}">
						<h3>There are no previously uploaded records</h3>
					</div>
					<div th:if="${not #lists.isEmpty(records)}">
						<table class="tableblock frame-all grid-all spread">
							<th class="tableblock halign-left valign-top">Reference</th>
							<th class="tableblock halign-left valign-top">Description</th>
							<th class="tableblock halign-left valign-top">Account Number</th>
							<th class="tableblock halign-left valign-top">Start Balance</th>
							<th class="tableblock halign-left valign-top">Mutation</th>
							<th class="tableblock halign-left valign-top">End Balance</th>
							<tr th:each="record : ${records}">
								<td class="tableblock halign-left valign-top" th:text="${record.reference}"/>
								<td class="tableblock halign-left valign-top" th:text="${record.description}"/>
								<td class="tableblock halign-left valign-top" th:text="${record.accountNumber}"/>
								<td class="tableblock halign-left valign-top" th:text="${record.startBalance}"/>
								<td class="tableblock halign-left valign-top" th:text="${record.mutation}"/>
								<td class="tableblock halign-left valign-top" th:text="${record.endBalance}"/>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

    </div>

</body>
</html>
